﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #7c7a4b;
}

.inputrow {
    margin-bottom: 20px;
}

.inputrow:hover {
    color: black;
}

h1 {
    font-style: italic;
    color: black;
}
a{
    color:darkblue;
    font-size: 1.3em;
}
