﻿
.tablerow:hover {
    background: #c7c133 !important;
}
.Grid{
    text-align: center;
}

.buttonCss {
    color: #d8cece !important;
    text-transform: uppercase;
    background: #000000;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-bottom: 10px;
}
.querybox{
    font-size: 2em;
    color:darkblue;
    width: 75%;
}