﻿<%@ Page Title="Manage Pages" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="manage_pages._Default" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">

<h1>This is the default page.</h1>
<h3>Please select the Manage Pages from the top menu to access the actual website</h3>
    
<!--<h2>Pick your Theme Preference:</h2>
    <asp:DropDownList ID="ddlThemePreference" runat="server">
        <asp:ListItem Text="Light"></asp:ListItem>
        <asp:ListItem Text="Dark"></asp:ListItem>
    </asp:DropDownList>
 
<button id="UpdateBtn" runat="server" Text="Update"></button>   
-->

</asp:Content>
