﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #d8cece;
}

.inputrow {
    margin-bottom: 20px;
}

.inputrow:hover {
        color: black;
}

h1 {
    font-style: italic;
}
footer{
    color: darkblue;

}
